button:hover, a:hover {
  opacity: 0.7; }

body {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto; }

.card {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  position: relative; }

@media screen and (min-width: 420px) {
  .card {
    margin-top: 5%;
    max-width: 300px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); } }

.title {
  color: grey;
  font-size: 18px; }

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin: 0px; }

a {
  text-decoration: none;
  font-size: 22px;
  color: black; }

.social-item {
  display: inline-block;
  margin: 5px; }
  .social-item.skype {
    color: #00aff0; }
  .social-item.twitter {
    color: #1da1f2; }
  .social-item.linkedin {
    color: #0077b5; }
  .social-item.facebook {
    color: #3b5998; }
  .social-item.github {
    color: #4078c0; }
  .social-item.gitlab {
    color: #fc6d26; }
  .social-item.paypal {
    color: #003087; }
  .social-item.pinterest {
    color: #bd081c; }
  .social-item.behance {
    color: #1769ff; }
  .social-item.freelancer, .social-item.themeforest, .social-item.upwork {
    margin: 0px; }

.bin::before {
  content: "";
  position: relative;
  top: 2px;
  width: 25px;
  height: 25px;
  background: url(../images/multiple-logo.png);
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-size: 78px;
  display: inline-block; }

.bin.bin-envato::before {
  background-position-x: 0px; }

.bin.bin-freelancer::before {
  background-position-x: -25px; }

.bin.bin-upwork::before {
  background-position-x: -50px; }

.bin.bin-medium::before {
  background-position-y: -23px; }
