%hover {
    &:hover {
        opacity: 0.7;
    }
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

.card {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    position: relative;
}

@media screen and (min-width: 420px) {
    .card {
        margin-top: 5%;
        max-width: 300px;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 15px 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin: 0px;

    @extend %hover;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;

    @extend %hover;
}

.social-item {
    display: inline-block;
    margin: 5px;

    &.skype {
        color: #00aff0;
    }

    &.twitter {
        color: #1da1f2;
    }

    &.linkedin {
        color: #0077b5;
    }

    &.facebook {
        color: #3b5998;
    }

    &.github {
        color: #4078c0;
    }

    &.gitlab {
        color: #fc6d26;
    }

    &.paypal {
        color: #003087;
    }

    &.pinterest {
        color: #bd081c;
    }
    &.behance{
        color: #1769ff;
    }
    &.freelancer,
    &.themeforest,
    &.upwork{
        margin:0px;
    }
}

.bin{
    &::before{
        content:"";
        position: relative;
        top: 2px;
        width: 25px;
        height: 25px;
        background: url(../images/multiple-logo.png);
        background-repeat: no-repeat;
        background-position-y: 2px;
        background-size: 78px;
        display: inline-block;
    }
    &.bin-envato{
        &::before{
            background-position-x: 0px;
        }
    }
    &.bin-freelancer{
        &::before{
            background-position-x: -25px;
        }
    }
    &.bin-upwork{
        &::before{
            background-position-x: -50px;
        }
    }
    &.bin-medium{
        &::before{
            background-position-y: -23px;
        }
    }
}
